# Configurações Gerais
TZ=America/Sao_Paulo
PUID=1000
PGID=1000

# Domínio e Certificados
DOMAIN_NAME=teudominio.com
ADMIN_EMAIL=teu-email@exemplo.com

# Credenciais de acesso à API do NPM
NPM_ADMIN_EMAIL=admin@example.com
NPM_ADMIN_PASSWORD=changeme

# Caminhos de Armazenamento
DATA_DIR=./services
MEDIA_DIR=/mnt/dados/media # Altere para o caminho do seu disco/pasta de mídias
